<!DOCTYPE html>
<!-- 
  Tracy Ye
  SoftDev
  Oct 08, 2024
 -->

<html>

  <head>
    <title> greetings </title>
    <style>
        body {
            transform: translate(0%, 75%);
        }
        .d1 {
            font-size: 17px;
        }
        .d2 {
            font-size: 13px;
        }
    </style>
  </head>

  <body><center>
    <h1>
      Morning, devo! 
    </h1>
    
    <div class = 'd1'>
        NewTrio??
        <br>
    </div>
    
    <div class = 'd2'>
        Tracy, Daniel(?), Will(?)
    </div>

    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth">cq
        {}     {}
    
    
    
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </center></body>
     <h>
   
     
    </h>
</html>
