<!DOCTYPE html>
<!-- 
  Tracy Ye
  SoftDev
  Oct 08, 2024
 -->
 
 <html>

  <head>
    <title> method </title>
    <style>
        body {
            transform: translate(10%, 90%)
        }
        .d1 {
            font-size: 30px;
            transform: translate(-10%, 0%)
        }
        .d2 {
            font-size: 20px;
        }
        .d3 {
            font-size: 15px;
        }
    </style>
  </head>

  <body>
      <div class='d1'>
          <center>You inputted: {{ r }}</center><br><br>
      </div>

      <div class='d2'>
          {% if method == "GET" %} How does GET work?<br> {% endif %}
          {% if method == "POST" %} How does POST work?<br> {% endif %}
      </div>

      <div class='d3'>
          {% if method == "GET" %}
              <br>- GET the is the default for form responses ( you can specify with method='GET' )
              <br>- Use request.args['key'] to return the user's input
              <br>- GET is considered less safe because it displays the information in the URL
              <br>--------> "?" marks the start of query objects for GET
              <br>--------> key=value or key=value&ect=ect... often follows
          {% endif %}
          {% if method == "POST" %}
              <br>- POST is specified with method='POST' )
              <br>- Use request.form['key'] to return the user's input
              <br>- POST is considered more safe than GET because it hides the information in the background, but it is still NOT safe
          {% endif %}
      </div>
  </body>
 
</html>