<!DOCTYPE html>

<head>
    <title> log in </title>
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="sAccount">
        <form action="/signup" method="POST">
            Username: <input type="text" name="username" required>
            <br>
            Password: <input type="password" name="pw" required>
            <br>
            <input type="submit" value="log in">
        </form>
        <form action="/signup" method="GET">
            Don't have an account? <input type="submit" value="sign up">
        </form>
    </div>
</body>

</html>
