<!DOCTYPE html>

<head>
    <title> project zero </title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
    
<body>
    <h1> Project Zero: Blog Site </h1>
    <div class="author">
        by me!
    </div>

    <div class="mAllBlogs"> SHOW ALL BLOGS HERE!!! </div>
    <div class="mOptions">
        <form action="/login" method="GET">
            Been here before? <input type="submit" value="log in">
        </form>
        <form action="/signup" method="GET">
            New around here? <input type="submit" value="sign up">
        </form>
    </div>
</body>
    
</html>
