<!DOCTYPE html>

<head>
    <title> Sign Up </title>
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <h1> Create an account! </h1>
    <div class="sAccount">
        <form action="/signup" method="POST">
            Username: <input type="text" name="username" required>
            <br>
            Password: <input type="text" name="pw" required>
            <br>
            <input type="submit" value="create account">
        </form>
        <form action="/" method="GET">
            <input type="submit" value="back to main">
        </form>
    </div>
</body>

</html>
