<!DOCTYPE html>
    <!--
    Tracy Ye
    SoftDev
    K23: A RESTful Journey Skyward : rest-API & NASA
    2024-11-20
    Time Spent :
    -->
    
    <header>
        <title> K23 REST API </title>
    </header>
    <body> 
        <!-- TNPG+roster -->
        <div>
            <h2> Team CTV </h2>
            <p> Tracy Ye <br> Claire Song </p>
            <h3> {{ title }} </h3>
            <img src={{ img }} alt="hmmm...">
            <p> {{ explain }} </p>
            <p> Very pretty picture of the galaxy, taken by Giorgio Ferrari, accessed on 2024-11-21! </p>
        </div>
    </body>

</html>